<head>
<% include ../common/default-page-head %>
	<!--flex slider-->
	<script defer src="/js/jquery.flexslider.js"></script>
	<link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen" />

	<script>
		// Can also be used with $(document).ready()
		$(window).load(function() {
		  $('.flexslider').flexslider({
			animation: "slide",
			controlNav: "thumbnails"
		  });
		});
	</script>
	<!--flex slider-->
	<script src="/js/imagezoom.js"></script>
	<!-- //js -->

	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {

			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->
</head>
<body>
	<!-- header -->
	<% include ../common/header.ejs %>
	<!-- //header -->

	<!-- products -->
	<div class="products">
		<div class="container">
			<div class="single-page">
				<div class="single-page-row" id="detail-21">
					<div class="col-md-6 single-top-left">
						<div class="flexslider">
							<ul class="slides">
								<%for (var i = 0; i < house.photos.length; i++) {
									var photo = house.photos[i];
								%>
								<li data-thumb="/<%=photo%>">
									<div class="thumb-image detail_images"> <img src="/<%=photo%>" data-imagezoom="true" class="img-responsive" alt=""> </div>
								</li>

								<%}%>
							</ul>
						</div>
					</div>
					<div class="col-md-6 single-top-right">
						<h3 class="item_name"><%= house.housename%></h3>
						<p>Rua <%= house.street %>, Bairro <%= house.district%> </p>
						<%# <div class="single-rating">
							<ul>
								<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
								<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
								<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
								<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
								<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
								<li class="rating">20 reviews</li>
								<li><a href="#">Add your review</a></li>
							</ul>
						</div>%>
						<div class="single-price">
							<ul>
								<li>R$<%= house.rent %></li>
							</ul>
						</div>
						<p class="single-price-text">
							<%= house.info%>
							<ul>
								<% var message = "Não aceita animais"; if(house.pets) message = "Aceita animais"%>
								<p><li><%=message%></li></p>
								<% message = "Não aceita fumantes"; if(house.smoker) message = "Aceita fumantes"%>
								<p><li><%=message%></li></p>
								<% message = "Prefere pessoas que não bebem"; if(house.alcohol) message = "Indiferente ao álcool"%>
								<p><li><%=message%></li></p>
								<% message = "Não gosta muito de receber visitas"; if(house.visits) message = "Indiferente a visitas"%>
								<p><li><%=message%></li></p>
								<% message = "Vaga para pessoas do gênero " + house.gender; if(house.gender == 'any') message = "Vaga para pessoas de qualquer gênero"%>
								<p><li><%=message%></li></p>
							</ul>

						</p>
						<form action="#" method="post">
							<input type="hidden" name="cmd" value="_cart" />
							<input type="hidden" name="add" value="1" />
							<input type="hidden" name="w3ls_item" value="Casa Dois Quartos" />
							<input type="hidden" name="amount" value="540.00" />
							<%# <button type="submit" class="w3ls-cart" ><i class="fa fa-cart-plus" aria-hidden="true"></i> Alugar</button> %>
						</form>
						<button class="favorito w3ls-cart w3ls-cart-like"><i class="tag-favorito fa fa-heart-o" aria-hidden="true"></i><span>Adicionar aos Favoritos</span></button>
					</div>
				   <div class="clearfix"> </div>
				</div>

				<%# <div class="single-page-icons social-icons">
					<ul>
						<li><h4>Share on</h4></li>
						<li><a href="#" class="fa fa-facebook icon facebook"> </a></li>
						<li><a href="#" class="fa fa-twitter icon twitter"> </a></li>
						<li><a href="#" class="fa fa-google-plus icon googleplus"> </a></li>
						<li><a href="#" class="fa fa-dribbble icon dribbble"> </a></li>
						<li><a href="#" class="fa fa-rss icon rss"> </a></li>
					</ul>
				</div>
			</div>%>

			<!-- collapse-tabs -->
			<div class="collpse tabs">
				<h3 class="w3ls-title">Mais sobre essa residência</h3>
				<div class="panel-group collpse" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingFour">
							<h4 class="panel-title">
								<a class=" pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
									<i class="fa fa-question-circle fa-icon" aria-hidden="false"></i> Sobre o Locatário <span class="fa fa-angle-down fa-arrow" aria-hidden="true"></span> <i class="fa fa-angle-up fa-arrow" aria-hidden="false"></i>
								</a>
							</h4>
						</div>
						<div id="collapseFour" class="panel-collapse" role="tabpanel" aria-labelledby="headingFour">
							<div class="panel-body">
								<img src="/<%= owner.profile_picture %>" width="200px">
								<br>
								Proprietário: <%= owner.name %> <%=owner.lastname%> <br>
								Email: <%= owner.username %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //collapse -->
			<!-- offers-cards -->

			<!-- //offers-cards -->
		</div>
	</div>
	<!--//products-->
	<!-- footer-top -->
	<script>
	<%
	var username;
	if(user){
		username = user.username
	}
	%>
	const data = {
		owner: '<%= house.owner %>',
		house: '<%= house.id %>',
		user: '<%= username %>'
	}

	const add = 'Adicionar aos Favoritos';
	const rm = 'Remover dos Favoritos';
	const tag = $('.tag-favorito');

	$.post('/house/fav/status', data, function(data, status){
		if(data.isFavorite){
			$('.favorito span').text(rm)
			tag.addClass('red');
		}
	});

	$('.favorito').click(function(e){

		if(tag.hasClass('red')){
			$.post('/house/fav/remove', data, function(data, textStatus, xhr) {
				$('.favorito span').text(add)
				tag.removeClass('red');
			});
		}else{
			 $.post('/house/fav/insert', data, function(data, status) {
				 $('.favorito span').text(rm)
				 tag.addClass('red');
			 });
		}

	});
	</script>
	<% include ./../common/footer %>
	<% include ./../common/libs %>
</body>
</html>
