<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Dakamo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
			function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- Custom Theme files -->
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/css/animate.min.css" rel="stylesheet" type="text/css" media="all" /><!-- animation -->
	<link href="/css/menu.css" rel="stylesheet" type="text/css" media="all" /> <!-- menu style -->
	<link href="/css/owl.carousel.css" rel="stylesheet" type="text/css" media="all"> <!-- carousel slider -->
	<!-- //Custom Theme files -->
	<!-- font-awesome icons -->
	<link href="/css/font-awesome.css" rel="stylesheet">
	<!-- //font-awesome icons -->
	<!-- js -->
	<script src="/js/jquery-2.2.3.min.js"></script>
	<script src="/js/owl.carousel.js"></script>
	<script src="/js/bootstrap.js"></script>
	<!--flex slider-->
	<script defer src="/js/jquery.flexslider.js"></script>
	<link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen" />
	<script>
		// Can also be used with $(document).ready()
		$(window).load(function() {
		  $('.flexslider').flexslider({
			animation: "slide",
			controlNav: "thumbnails"
		  });
		});
	</script>
	<!--flex slider-->
	<script src="/js/imagezoom.js"></script>
	<!-- //js -->
	<!-- web-fonts -->
	<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Lovers+Quarrel' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Offside' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>
	<!-- web-fonts -->
	<!-- scroll to fixed-->
	<script src="/js/jquery-scrolltofixed-min.js" type="text/javascript"></script>
	<script>
	    $(document).ready(function() {

	        // Dock the header to the top of the window when scrolled past the banner. This is the default behaviour.

	        $('.header-two').scrollToFixed();
	        // previous summary up the page.

	        var summaries = $('.summary');
	        summaries.each(function(i) {
	            var summary = $(summaries[i]);
	            var next = summaries[i + 1];

	            summary.scrollToFixed({
	                marginTop: $('.header-two').outerHeight(true) + 10,
	                zIndex: 999
	            });
	        });
	    });
	</script>
	<!-- //scroll to fixed-->
	<!-- start-smooth-scrolling -->
	<script type="text/javascript" src="/js/move-top.js"></script>
	<script type="text/javascript" src="/js/easing.js"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //end-smooth-scrolling -->
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {

			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->
</head>
<body>
	<!-- header -->
	<% include ../common/header.ejs %>
	<!-- //header -->

	<!-- products -->
	<div class="products">
		<div class="container">
			<div class="single-page">
				<div class="single-page-row" id="detail-21">
					<div class="col-md-6 single-top-left">
						<div class="flexslider">
							<ul class="slides">
								<%for (var i = 0; i < house.photos.length; i++) {
									var photo = house.photos[i];
								%>
								<li data-thumb="/<%=photo%>">
									<div class="thumb-image detail_images"> <img src="/<%=photo%>" data-imagezoom="true" class="img-responsive" alt=""> </div>
								</li>

								<%}%>
							</ul>
						</div>
					</div>
					<div class="col-md-6 single-top-right">
						<h3 class="item_name"><%= house.housename%></h3>
						<p>Rua <%= house.street %>, Bairro <%= house.district%> </p>
						<%# <div class="single-rating">
							<ul>
								<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
								<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
								<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
								<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
								<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
								<li class="rating">20 reviews</li>
								<li><a href="#">Add your review</a></li>
							</ul>
						</div>%>
						<div class="single-price">
							<ul>
								<li>R$<%= house.rent %></li>
							</ul>
						</div>
						<p class="single-price-text">
							<%= house.info%>
							<ul>
								<% var message = "Não aceita animais"; if(house.pets) message = "Aceita animais"%>
								<p><li><%=message%></li></p>
								<% message = "Não aceita fumantes"; if(house.smoker) message = "Aceita fumantes"%>
								<p><li><%=message%></li></p>
								<% message = "Prefere pessoas que não bebem"; if(house.alcohol) message = "Indiferente ao álcool"%>
								<p><li><%=message%></li></p>
								<% message = "Não gosta muito de receber visitas"; if(house.visits) message = "Indiferente a visitas"%>
								<p><li><%=message%></li></p>
								<% message = "Vaga para pessoas do gênero " + house.gender; if(house.gender == 'any') message = "Vaga para pessoas de qualquer gênero"%>
								<p><li><%=message%></li></p>
							</ul>

						</p>
						<form action="#" method="post">
							<input type="hidden" name="cmd" value="_cart" />
							<input type="hidden" name="add" value="1" />
							<input type="hidden" name="w3ls_item" value="Casa Dois Quartos" />
							<input type="hidden" name="amount" value="540.00" />
							<%# <button type="submit" class="w3ls-cart" ><i class="fa fa-cart-plus" aria-hidden="true"></i> Alugar</button> %>
						</form>
						<button class="favorito w3ls-cart w3ls-cart-like"><i class="tag-favorito fa fa-heart-o" aria-hidden="true"></i>Favoritar</button>
					</div>
				   <div class="clearfix"> </div>
				</div>

				<%# <div class="single-page-icons social-icons">
					<ul>
						<li><h4>Share on</h4></li>
						<li><a href="#" class="fa fa-facebook icon facebook"> </a></li>
						<li><a href="#" class="fa fa-twitter icon twitter"> </a></li>
						<li><a href="#" class="fa fa-google-plus icon googleplus"> </a></li>
						<li><a href="#" class="fa fa-dribbble icon dribbble"> </a></li>
						<li><a href="#" class="fa fa-rss icon rss"> </a></li>
					</ul>
				</div>
			</div>%>

			<!-- recommendations -->
			<div class="recommend">
				<h3 class="w3ls-title">Recomendações </h3>
				<script>
					$(document).ready(function() {
						$("#owl-demo5").owlCarousel({

						  autoPlay: 3000, //Set AutoPlay to 3 seconds

						  items :4,
						  itemsDesktop : [640,5],
						  itemsDesktopSmall : [414,4],
						  navigation : true

						});

					});
				</script>
				<div id="owl-demo5" class="owl-carousel">
					<div class="item">
						<div class="glry-w3agile-grids agileits">
							<div class="new-tag"><h6>20% <br> Off</h6></div>
							<a href="products1.html"><img src="images/f1.jpg" alt="img"></a>
							<div class="view-caption agileits-w3layouts">
								<h4><a href="products1.html">Casa 3/4</a></h4>
								<p>Preço Acessivel!</p>
								<h5>R$20</h5>
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart" />
									<input type="hidden" name="add" value="1" />
									<input type="hidden" name="w3ls_item" value="Women Sandal" />
									<input type="hidden" name="amount" value="20.00" />
									<button type="submit" class="w3ls-cart" ><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
								</form>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
			<!-- //recommendations -->
			<!-- collapse-tabs -->
			<div class="collpse tabs">
				<h3 class="w3ls-title">Mais sobre essa residência</h3>
				<div class="panel-group collpse" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingFour">
							<h4 class="panel-title">
								<a class="collapsed pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
									<i class="fa fa-question-circle fa-icon" aria-hidden="true"></i> Sobre o Locatário <span class="fa fa-angle-down fa-arrow" aria-hidden="true"></span> <i class="fa fa-angle-up fa-arrow" aria-hidden="true"></i>
								</a>
							</h4>
						</div>
						<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
							<div class="panel-body">
								<img src="/<%= owner.profile_picture %>" width="200px">
								<br>
								Proprietário: <%= owner.name %> <%=owner.lastname%> <br>
								Email: <%= owner.username %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //collapse -->
			<!-- offers-cards -->

			<!-- //offers-cards -->
		</div>
	</div>
	<!--//products-->
	<!-- footer-top -->
	<script>
	$('.favorito').click(function(e){
		var btn = $(this);
		var tag = $('.tag-favorito')
		var data = {
			user: '<%= house.owner %>',
			house: '<%= house.id %>'
		}
		if(tag.hasClass('red')){
			data.add = false;
			tag.removeClass('red');
		}else{
			data.add = true;

			$.post('/house/fav', , function(data, textStatus, xhr) {
				console.log('done')
			});

		}

	});
	</script>
	<% include ./../common/footer %>
	<% include ./../common/libs %>
</body>
</html>
